<div class="container">
	<h3>Sign in</h3>
	<hr>
	<div class="pull-left">
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

		  <div><%= f.label :email %><br />
		  <%= f.email_field :email, autofocus: true, class: 'form-control' %></div>

		  <div><%= f.label :password %><br />
		    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %></div>
		</br>
		  <div><%= f.submit "Sign in", class: 'btn btn-info' %></div>
		<% end %>
	</div>
</div>
