<div class="container">
	<h3>Last added businesses</h3>
	<hr>
	<div class="col-md-4 pull-right">
		<%= form_tag(businesses_path, :method => "get") do %>
	  		<%= text_field_tag :search, params[:search], placeholder: "Search Business", class: 'form-control search_business_field' %>
	  		<%= submit_tag "Search", :name => nil, class: 'btn btn-info'%>
		<% end %>
	</div>
	<div class="col-md-4">
		<ul class="business_list">
			<% @businesess.each do |b| %>
				<li>
					<ul class="rating-stars business_info" >
						<a href="business/<%= b[:id] %>"><%= b[:name] %></a> 
						<% b[:rated_stars].times do  %>
							<li>
								<i class="fa fa-star star"></i>
							</li>
						<% end %>
						<% b[:unrated_stars].times do  %>
							<li>
								<i class="fa fa-star-o"></i>
							</li>
						<% end %>
						( <%= b[:reviews] %> reviews)
					</ul>
					<span><%= b[:location] %></span>
				</li>
				<hr>
			<% end %>
		</ul>
	</div>
</div>